body{
    margin:8px;
    background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimg.freepik.com%2Fpremium-photo%2Fgray-concrete-wall-abstract-gray-cement-texture-architecture-design_1484-2498.jpg&type=sc960_832");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

.task-area{
    border: 1px solid lightgray;
    margin-top: 2em;
}

#under-line{
    height: 4px;
    background-color: rgb(255, 110, 110);
    position: absolute;
    width: 70px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-done{
    text-decoration: line-through;
    background-color: lightgray;
    transition: all 1s ease;
}

.task span {
    padding: 1em;
}

.button-box {
    display: flex;
}

.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
    text-decoration: none;
}

.check{
    color: rgb(26, 139, 26);
}

.trash{
    color: rgb(214, 44, 44);
}

.return{
    color: rgb(111, 121, 131);
}

.button-box button:first-child:hover {
    background-color: rgb(189, 255, 175);
  }
  .button-box button:nth-child(2):hover {
    background-color: rgba(255, 157, 157, 0.747);
  }